

:root { 
  --base-color: #000000;
--background-color: #F7F7F7;
--secondary-color: #606470;
--accent-color: #93DEFF;
--text-color: white;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}